*{margin: 0;padding: 0; box-sizing: border-box;}
#wrapper{width: 980px;margin: auto;}
.header-main{height: 150px;text-align: center;background: rgb(243, 243, 243);}
.nav-main{height: 40px; background:coral;}
.content{display: grid;}
.content-right{width: 30%;height: 600px;border-left: 1px solid #cdcdcd;border-right: 1px solid #cdcdcd ;float: left;}
.footer-main{height: 50px;background: #000;color: #fff;text-align: center;line-height: 50px;}
.logo{margin-top: 30px; width: 125px;height: auto;}
/*css menu */
.nav-main ul li{
    list-style: none;float: left;line-height: 40px;padding: 0 20px;position: relative;
}
.nav-main ul li a{color: #fff;text-decoration: none;}
.nav-main ul li a:hover{text-decoration: underline;}
.submenu{position: absolute;background: #000;display: none;}
.submenu li{width: 200px;}
.nav-main ul li:hover .submenu{display: block;}
/*css banner chính */
.bannerchinh{width:100% ;}
.bannerT{position: fixed; top: 0; left: 0;width: 10%;height:100%;}
.bannerP{position: fixed; top: 0; right: 0;width: 10%;height:100%; }
/*css show sản phẩm */
.danhmuc{font-weight: bold;line-height: 40px;border-bottom: 1px solid #cdcdcd;font-size: 20px;}
.sp{width: 30%; float: left;border: 1px solid #cdcdcd;height: 280px;margin: 20px 20px 20px 0; text-align: center;
border-radius: 20px;position: relative;}
.anhsp{width: 70%;height: 180px;margin: 10px 0;}
.tensp a{color:rgb(36, 33, 33); text-decoration: none;}
.tensp a:hover{color: crimson;}
.giasp1{margin-top: 10px; font-weight: bold; font-size: 20px;}
.giasp1 span{text-decoration: line-through; color: rgb(236, 55, 55);}
.giasp2{margin-top: 10px; font-weight: bold; font-size: 20px;}
.giasp2 span{text-decoration: line-through; color: rgb(236, 55, 55);}
.sale{position: absolute; padding: 10px; background-repeat: no-repeat;background: #db2704;
color: rgb(253, 250, 250);top: 20px;right: 0;font-size: 20px;}
.text{
    width: 200px;
    height: 20px;
    border: none;
    background-color: #ffffff;
    padding-left: 5px;
    margin-top: 8px;
   }
   .timkiem{
    width: 90px;
    height: 20px;
    background-color:  #db2704;;
    border: 1px solid #ffffff;
    color: #ffffff;
   }
   form{
    text-align: center;}
    .row{
        margin: 20px 0;
        display: grid;
        grid-template-columns: 600px 370px;
        gap: 10px;
    }
    .col p{margin-top: 10px;}
    .col h3{    background-color: #ffc29f;
        padding: 10px;}

/*csss right */
.content-right{background: #ee5e1b;}
.content-right h3{font-size: 16px; margin-top: 20px; margin-left: 18px;}
.btn1{margin-left: 110px; margin-top: 20px;width: 90px;
    height: 20px;
    background-color:  #db2704;;
    border: 1px solid #ffffff;
    color: #ffffff;}
.email{margin-top: 10px;}
.listP ul li{
    list-style-position: inside;padding-left: 20px;line-height: 35px;font-size: 20px;
}
.listP ul li a{color: black; text-decoration: none;}
.listP ul li a:hover{text-decoration: underline;}
.anhqcao{width: 100%;margin-top: 10px;}
.footer-main{
    width: 100%;
    height: 50px;
    background-color: rgb(207, 72, 54);
    text-align: center;
    font-size: 30px;}
    .dang-ky .vien {
        border: 2px solid goldenrod;
        border-radius: 10px;
        margin: 30px 0;
    }
    
    .dang-ky h2 {
        font-size: 40px;
        color: black;
    }
    
    .thong-tin {
        display: block;
        text-align: center;
    }
    
    .t1, .t2 {
        color: black;
        font-size: 26px;
    }
    
    .t1 {
        margin-left: 10px;
    }
    
    
    
    .gioi-tinh {
        display: inline;
        width: 380px;
        color: black;
    }
    
    #user, #password, #email {
        height: 40px;
        font-size: 30px;
    }
    
    .btm {
        height: 60px;
        width: 150px;
        font-size: 28px;
        color: #FF0000;
        margin: 20px 180px;
        background-color: #F0AD4E;
        border: none;
        border-radius: 5px;
    }